In [1]:
print("Hello, Palak!")

Hello, Palak!

In [2]:
!pip install requests beautifulsoup4 pandas

Requirement already satisfied: requests in c:\users\palak\anaconda3\envs\anacondapython\lib\site-packages (2.32.4)
Requirement already satisfied: beautifulsoup4 in c:\users\palak\anaconda3\envs\anacondapython\lib\site-packages (4.13.4)
Requirement already satisfied: pandas in c:\users\palak\anaconda3\envs\anacondapython\lib\site-packages (2.3.1)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\palak\anaconda3\envs\anacondapython\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\palak\anaconda3\envs\anacondapython\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\palak\anaconda3\envs\anacondapython\lib\site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\palak\anaconda3\envs\anacondapython\lib\site-packages (from requests) (2025.7.14)
Requirement already satisfied: soupsieve>1.2 in c:\users\palak\anaconda3\envs\anacondapython\lib\site-packages (from beautifulsoup4) (2.5)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\palak\anaconda3\envs\anacondapython\lib\site-packages (from beautifulsoup4) (4.12.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\palak\anaconda3\envs\anacondapython\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\palak\anaconda3\envs\anacondapython\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\palak\anaconda3\envs\anacondapython\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\palak\anaconda3\envs\anacondapython\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\palak\anaconda3\envs\anacondapython\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

print("Libraries imported successfully!")

Libraries imported successfully!

In [4]:
url = "https://books.toscrape.com/catalogue/page-1.html"
response = requests.get(url)
print(response.status_code)

200

In [5]:
soup = BeautifulSoup(response.text, "html.parser")
books = soup.find_all('article', class_='product_pod')
print("Number of books found on page 1:", len(books))

Number of books found on page 1: 20

In [6]:
first_book = books[0]
print(first_book.prettify())

<article class="product_pod">
 <div class="image_container">
  <a href="a-light-in-the-attic_1000/index.html">
   <img alt="A Light in the Attic" class="thumbnail" src="../media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg"/>
  </a>
 </div>
 <p class="star-rating Three">
  <i class="icon-star">
  </i>
  <i class="icon-star">
  </i>
  <i class="icon-star">
  </i>
  <i class="icon-star">
  </i>
  <i class="icon-star">
  </i>
 </p>
 <h3>
  <a href="a-light-in-the-attic_1000/index.html" title="A Light in the Attic">
   A Light in the ...
  </a>
 </h3>
 <div class="product_price">
  <p class="price_color">
   Â£51.77
  </p>
  <p class="instock availability">
   <i class="icon-ok">
   </i>
   In stock
  </p>
  <form>
   <button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">
    Add to basket
   </button>
  </form>
 </div>
</article>

In [7]:
title = first_book.h3.a['title']
price = first_book.find('p', class_='price_color').text
rating_class = first_book.find('p', class_='star-rating')['class'][1]

print("Title:", title)
print("Price:", price)
print("Rating (word):", rating_class)

Title: A Light in the Attic
Price: Â£51.77
Rating (word): Three

In [8]:
rating_map = {"One": 1, "Two": 2, "Three": 3, "Four": 4, "Five": 5}

def extract_book_info(book_tag):
    title = book_tag.h3.a['title']
    price_text = book_tag.find('p', class_='price_color').text.strip()
    price_text = price_text.replace('£', '').replace('Â', '')
    price = float(price_text)
    rating_word = book_tag.find('p', class_='star-rating')['class'][1]
    rating = rating_map.get(rating_word)
    return {"title": title, "price": price, "rating": rating}

In [9]:
page_data = [extract_book_info(book) for book in books]

In [10]:
df_page1 = pd.DataFrame(page_data)
df_page1.head()

                                   title  price  rating
0                   A Light in the Attic  51.77       3
1                     Tipping the Velvet  53.74       1
2                             Soumission  50.10       1
3                          Sharp Objects  47.82       4
4  Sapiens: A Brief History of Humankind  54.23       5

In [11]:
all_books = []
base_url = "https://books.toscrape.com/catalogue/page-{}.html"

for page_num in range(1, 51):
    url = base_url.format(page_num)
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")
    books = soup.find_all('article', class_='product_pod')
    for b in books:
        all_books.append(extract_book_info(b))
    print(f"Page {page_num} done, total books: {len(all_books)}")

Page 1 done, total books: 20
Page 2 done, total books: 40
Page 3 done, total books: 60
Page 4 done, total books: 80
Page 5 done, total books: 100
Page 6 done, total books: 120
Page 7 done, total books: 140
Page 8 done, total books: 160
Page 9 done, total books: 180
Page 10 done, total books: 200
Page 11 done, total books: 220
Page 12 done, total books: 240
Page 13 done, total books: 260
Page 14 done, total books: 280
Page 15 done, total books: 300
Page 16 done, total books: 320
Page 17 done, total books: 340
Page 18 done, total books: 360
Page 19 done, total books: 380
Page 20 done, total books: 400
Page 21 done, total books: 420
Page 22 done, total books: 440
Page 23 done, total books: 460
Page 24 done, total books: 480
Page 25 done, total books: 500
Page 26 done, total books: 520
Page 27 done, total books: 540
Page 28 done, total books: 560
Page 29 done, total books: 580
Page 30 done, total books: 600
Page 31 done, total books: 620
Page 32 done, total books: 640
Page 33 done, total books: 660
Page 34 done, total books: 680
Page 35 done, total books: 700
Page 36 done, total books: 720
Page 37 done, total books: 740
Page 38 done, total books: 760
Page 39 done, total books: 780
Page 40 done, total books: 800
Page 41 done, total books: 820
Page 42 done, total books: 840
Page 43 done, total books: 860
Page 44 done, total books: 880
Page 45 done, total books: 900
Page 46 done, total books: 920
Page 47 done, total books: 940
Page 48 done, total books: 960
Page 49 done, total books: 980
Page 50 done, total books: 1000

In [12]:
df_all = pd.DataFrame(all_books)
df_all.to_csv("books_data.csv", index=False)
df_all.head()

                                   title  price  rating
0                   A Light in the Attic  51.77       3
1                     Tipping the Velvet  53.74       1
2                             Soumission  50.10       1
3                          Sharp Objects  47.82       4
4  Sapiens: A Brief History of Humankind  54.23       5